
.chat-box {
    width:70px;
    height:70px;
    position: fixed;
    float:right;
    top:90vh;
    left:90vw;
    z-index: 99;
}
.chat-box a {
    font-size: 50px;
   
}
.chat-box a:hover {
    color:black;
    transition: all 0.4s linear 0s;
   
}



@media screen and (max-width:500px) {



    .chat-box {
     
        top:90vh;
        left:80vw;
    }
    .chat-box a {
        font-size: 30px;
    }
    
    
    
    }
    