.offer-box {
    width:100%;
    background-color: rgb(57, 87, 145);
    padding-top:40px;
    padding-bottom: 40px;
    margin-top:0px;
}



.comp-offer {
    width:76%;
    margin:auto;
    padding-top: 50px;
    height:auto;
    padding-bottom: 20px;
    background-color: rgb(10, 10, 10);
    min-height: 400px;
    color:white;
    border-radius: 10px;
   
}


.title {
    font-size: 35px;
    text-align: center;
    margin:0px;
    padding-top: 40px;
    font-weight: bold;
}

.price {
    font-size: 25px;
    text-align: center;
}

.contents p {
    padding-left:5%;
}

.contents ul li {
    font-size: 15px;
}

#awesome-web {
    font-size: 20px;
}
.contents span {
    color:rgb(145, 115, 194);
}
.youget {
    font-size: 25px;
}

.contents p a {
    color:white;
}





.blink{
    text-align: center;

}
.blink span{
    font-size: 25px;
    font-family: cursive;
    color: white;
    animation: blink 1.5s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}





@media screen and (max-width:700px) {


    .comp-offer {
        width:96%;
        padding-top:20px;
        border-radius: 10px;
    }
    
    .title {
        font-size:30px;
        padding-top: 20px;
    }
    
    .contents ul li {
        font-size: 13px;
    }






}